<h1 class="text-center"> {{user.usarName}} </h1>
<p class="text-center">Edita aqui tu perfil</p>
<div class="my-4 text-center">
  {{#if imagen}}
    <img src="/img/perfiles/{{imagen}}" alt="Profile Picture" class="rounded-circle" >
    {{else}}
    <img src="/img/perfiles/pic.jpg" alt="Profile Picture" class="rounded-circle">
    {{/if}}
  
</div>
<form action="/perfil" method="post" enctype="multipart/form-data">
  <input class="form-control form-control-sm" id="formFileSm" type="file" name="myFile">
  <button class="btn btn-dark my-3"> Change profile Picture </button>
</form>